/.bsp/
target/
.metals/
.idea/
.vscode/
.DS_Store

*.class
*.log
.env
data/
*.db

*.json

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

archive.zip